body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1d2671, #c33764);
}

.container {
    width: 420px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    color: #1d2671;
}

.quote {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: #1d2671;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #c33764;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #1d2671;
}
